.header__logo a, .footer__share a, .btn_loading { font: 0/0 a; text-shadow: none; color: transparent; }

.footer__feedback form, .footer__primary, .content .wrapper, .share, .share_article a { *zoom: 1; }
.footer__feedback form:before, .footer__primary:before, .content .wrapper:before, .share:before, .share_article a:before, .footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { content: " "; display: table; }
.footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { clear: both; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.3; min-width: 1050px; }

a img, fieldset { border: none; }

a { color: #00919e; text-decoration: none; }
a:hover { text-decoration: underline; }

.wrapper, .header__top, .highlight, .content .wrapper { position: relative; width: 1024px; margin: 0 auto; }

.header__logo a, .footer__share a, .btn_loading { font: 0/0 a; text-shadow: none; color: transparent; }

.footer__feedback form, .footer__primary, .content .wrapper, .share, .share_article a { *zoom: 1; }
.footer__feedback form:before, .footer__primary:before, .content .wrapper:before, .share:before, .share_article a:before, .footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { content: " "; display: table; }
.footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { clear: both; }

.header { position: relative; background: url(../img/bg.jpg) no-repeat 50% 0%; min-height: 195px; }
.header.header_alt { background: url(../img/bg_alt.jpg) no-repeat 50% 0%; min-height: 848px; }

.header__top { height: 78px; }

.header__logo a { background: url('../img/icons-s11e0bc1e3a.png') 0 0 no-repeat; width: 209px; height: 29px; position: absolute; top: 24px; left: 2px; }

.header__lang { position: absolute; top: 30px; right: -37px; color: #67add9; font-size: 16px; }
.header__lang a { color: #1d709e; position: relative; margin-right: 30px; }
.header__lang a.selected { color: #222; cursor: default; }
.header__lang a.selected:hover { text-decoration: none; }
.header__lang a:before { width: 1px; height: 26px; background: #67add9; content: ""; position: absolute; top: -4px; left: -14px; }
.header__lang a:first-child:before { content: none; }

.nav { position: relative; background-color: #217ab0; height: 52px; line-height: 52px; color: #fff; font-size: 16px; text-shadow: 0 -1px 0 rgba(1, 1, 1, 0.75); }
.nav:before { background: url(../img/nav_top.png) repeat-x; position: absolute; top: -3px; left: 0; content: ""; height: 3px; width: 100%; }
.nav:after { background: url(../img/nav_bottom.png) repeat-x; position: absolute; bottom: -3px; left: 0; content: ""; height: 3px; width: 100%; }
.nav a { color: inherit; }
.nav ul { list-style: none; }
.nav li { display: inline-block; position: relative; margin-right: 17px; }

.highlight { font-family: "Trebuchet MS", "Helvetica CY", sans-serif; text-shadow: 0 0 13px white; color: #323232; font-size: 22px; }
.highlight .wrapper { width: 503px; position: absolute; top: 38px; right: -4px; }
.highlight .highlight__heading { color: #0a529d; font-size: 57px; margin-bottom: 0.35em; }
.highlight a { font-size: 17px; }

.header__logo a, .footer__share a, .btn_loading { font: 0/0 a; text-shadow: none; color: transparent; }

.footer__feedback form, .footer__primary, .content .wrapper, .share, .share_article a { *zoom: 1; }
.footer__feedback form:before, .footer__primary:before, .content .wrapper:before, .share:before, .share_article a:before, .footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { content: " "; display: table; }
.footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { clear: both; }

.footer { color: #b4cad8; background: url(../img/footer_bg.jpg) repeat-x 50% 0 #27417a; min-height: 150px; overflow: hidden; }
.footer a { color: #54bdff; }

.footer__left { width: 680px; float: left; margin-top: 53px; }

.footer__col { width: 276px; float: left; }
.footer__col:first-child { margin-right: 105px; }

.footer__also { font-family: "Trebuchet MS", "Helvetica CY", sans-serif; font-size: 13px; margin-top: 46px; }
.footer__also:first-child { margin-top: 0; }

.footer__heading { font-size: 17px; color: #fff; font-weight: bold; line-height: 1; margin-bottom: 1em; }

.footer__media { display: inline-block; margin-right: 6px; }
.footer__media img { display: block; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; margin-bottom: 0.5em; max-width: 79px; min-height: 55px; }

.footer__info { margin-bottom: 0.2em; margin-right: 60px; }

.footer__right { width: 340px; float: right; margin-top: 36px; margin-right: 4px; }

.footer__feedback { position: relative; width: 264px; float: right; font-family: "Trebuchet MS", "Helvetica CY", sans-serif; }
.footer__feedback:before { position: absolute; z-index: 3; bottom: -2px; right: -2px; width: 264px; height: 100%; content: ""; background: #fff; -webkit-box-shadow: 2px 3px 5px rgba(1, 1, 1, 0.16); -moz-box-shadow: 2px 3px 5px rgba(1, 1, 1, 0.16); box-shadow: 2px 3px 5px rgba(1, 1, 1, 0.16); }
.footer__feedback:after { position: absolute; z-index: 2; bottom: -4px; right: -4px; width: 264px; height: 100%; content: ""; background: #fff; }
.footer__feedback input { outline: none; position: absolute; }
.footer__feedback form { margin-top: 16px; position: relative; }

.footer__feedback-holder { position: relative; z-index: 3; padding: 11px 19px 61px; background-color: #fffdef; border: 4px solid white; -webkit-box-shadow: 2px 3px 5px rgba(1, 1, 1, 0.16), inset 0 0 16px rgba(1, 1, 1, 0.17); -moz-box-shadow: 2px 3px 5px rgba(1, 1, 1, 0.16), inset 0 0 16px rgba(1, 1, 1, 0.17); box-shadow: 2px 3px 5px rgba(1, 1, 1, 0.16), inset 0 0 16px rgba(1, 1, 1, 0.17); }

.footer__feedback-heading { color: #212121; font-size: 17px; font-weight: bold; margin-left: 28px; }

.footer__cover-ico { background: url('../img/icons-s11e0bc1e3a.png') 0 -98px no-repeat; width: 26px; height: 41px; position: absolute; top: -6px; left: 19px; content: ""; }

.footer__feedback-info { margin-top: 0.8em; font-size: 13px; color: #696969; }

.footer__feedback-text { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #e1ddc8; left: 0; width: 190px; padding-left: 9px; font-style: italic; color: #a4a4a4; font-size: 12px; height: 31px; }

.footer__feedback-submit { height: 33px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; border: 1px solid #e1ddc8; border-left: 0; right: 0; width: 31px; cursor: pointer; color: #d72e1b; font-size: 14px; font-weight: bold; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZTllNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #eae9e5)); background-image: -webkit-linear-gradient(#fcfcfc, #eae9e5); background-image: -moz-linear-gradient(#fcfcfc, #eae9e5); background-image: -o-linear-gradient(#fcfcfc, #eae9e5); background-image: linear-gradient(#fcfcfc, #eae9e5); }
.footer__feedback-submit:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZTllNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eae9e5), color-stop(100%, #fcfcfc)); background-image: -webkit-linear-gradient(#eae9e5, #fcfcfc); background-image: -moz-linear-gradient(#eae9e5, #fcfcfc); background-image: -o-linear-gradient(#eae9e5, #fcfcfc); background-image: linear-gradient(#eae9e5, #fcfcfc); }

.footer__primary { clear: both; font-size: 12px; font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; padding-top: 60px; margin-bottom: 31px; }
.footer__primary.footer__primary_alt { padding-top: 42px; }

.footer__nav { float: left; width: 754px; margin-top: 16px; }
.footer__nav ul { list-style: none; }
.footer__nav li { display: inline-block; position: relative; margin-right: 11px; }
.footer__nav li:before { position: absolute; top: -3px; left: -8px; background: url('../img/icons-s11e0bc1e3a.png') 0 -348px no-repeat; width: 1px; height: 24px; content: ""; }
.footer__nav li:first-child:before { content: none; }

.footer__share { color: #8c8c8c; float: left; width: 270px; height: 26px; line-height: 26px; margin-top: 11px; }
.footer__share a { margin-left: 6px; display: inline-block; vertical-align: top; }
.footer__share a.share_fb { background: url('../img/icons-s11e0bc1e3a.png') 0 -254px no-repeat; width: 24px; height: 25px; }
.footer__share a.share_tw { background: url('../img/icons-s11e0bc1e3a.png') 0 -219px no-repeat; width: 24px; height: 25px; }
.footer__share a.share_gp { background: url('../img/icons-s11e0bc1e3a.png') 0 -149px no-repeat; width: 24px; height: 25px; }
.footer__share a.share_vk { background: url('../img/icons-s11e0bc1e3a.png') 0 -184px no-repeat; width: 24px; height: 25px; }

.header__logo a, .footer__share a, .btn_loading { font: 0/0 a; text-shadow: none; color: transparent; }

.footer__feedback form, .footer__primary, .content .wrapper, .share, .share_article a { *zoom: 1; }
.footer__feedback form:before, .footer__primary:before, .content .wrapper:before, .share:before, .share_article a:before, .footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { content: " "; display: table; }
.footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { clear: both; }

/* default layout */
.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header__logo a, .footer__share a, .btn_loading { font: 0/0 a; text-shadow: none; color: transparent; }

.footer__feedback form, .footer__primary, .content .wrapper, .share, .share_article a { *zoom: 1; }
.footer__feedback form:before, .footer__primary:before, .content .wrapper:before, .share:before, .share_article a:before, .footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { content: " "; display: table; }
.footer__feedback form:after, .footer__primary:after, .content .wrapper:after, .share:after, .share_article a:after { clear: both; }

.arrow { position: relative; line-height: 1; }
.arrow:after { position: absolute; top: 50%; right: -10px; content: ""; margin: -2.5px 0 0 0; }

.arrow_lighten { color: #54bdff; }
.arrow_lighten:after { background: url('../img/icons-s11e0bc1e3a.png') 0 -289px no-repeat; width: 5px; height: 5px; }

.arrow_darken { color: #0075be; }
.arrow_darken:after { background: url('../img/icons-s11e0bc1e3a.png') 0 -304px no-repeat; width: 5px; height: 5px; }

.btn { display: inline-block; height: 35px; line-height: 35px; color: white !important; padding: 0 8px; font-family: "Trebuchet MS", "Helvetica CY", sans-serif; font-size: 18px; text-decoration: none; background-color: #2179af; border: 0; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; }
.btn:hover { text-decoration: none; background-color: #1689cf; }
.btn:active { -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn_loading { display: block; background: url('../img/icons-s11e0bc1e3a.png') 0 -39px no-repeat; width: 48px; height: 49px; cursor: pointer; position: absolute; left: 50%; top: -60px; margin-left: -24px; }

.content { margin: 0 auto; background-color: #09427d; position: relative; color: #b4cad8; font-size: 16px; font-family: "Trebuchet MS", "Helvetica CY", sans-serif; }
.content:before { background: url(../img/content_top.png) repeat-x; position: absolute; top: -23px; left: 0; content: ""; height: 23px; width: 100%; }
.content:after { background: url(../img/content_bottom.png) repeat-x; position: absolute; bottom: -33px; left: 0; content: ""; height: 33px; width: 100%; }
.content .wrapper { padding-top: 30px; padding-bottom: 20px; }
.content a { color: #54bdff; }

.content__col { float: left; width: 267px; margin-left: 110px; }
.content__col:first-child { margin-left: 0; }

.item a { font-size: 17px; }

.item__heading { font-size: 19px; color: #fff; line-height: 1.1; margin-bottom: 0.7em; margin-left: 4px; }

.item__announce { font-weight: bold; margin-bottom: 0.6em; margin-left: 1px; }

.item__pic { position: relative; width: 263px; margin-bottom: 10px; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; -o-perspective: 1000; perspective: 1000; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; -webkit-transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; }
.item__pic img { position: relative; -webkit-border-radius: 15px 15px 0 0; -moz-border-radius: 15px 15px 0 0; -ms-border-radius: 15px 15px 0 0; -o-border-radius: 15px 15px 0 0; border-radius: 15px 15px 0 0; min-width: 263px; max-height: 168px; }
.item__pic:hover .item__flipper { -webkit-transform: rotate3d(0, 1, 0, 35deg); -moz-transform: rotate3d(0, 1, 0, 35deg); -ms-transform: rotate3d(0, 1, 0, 35deg); -o-transform: rotate3d(0, 1, 0, 35deg); transform: rotate3d(0, 1, 0, 35deg); }

.item__front { position: relative; }
.item__front:after { position: absolute; content: ""; bottom: 0; left: 0; width: 100%; height: 58px; background: url(../img/wave.png) no-repeat; }

.item__flipper { -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; -webkit-transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; }

.content__title { color: #fff; font-size: 30px; }

.breadcrumbs { margin-bottom: 20px; color: #54bdff; font-family: "Arial"; font-size: 12px; text-shadow: 0 -1px 0 rgba(1, 1, 1, 0.75); }
.breadcrumbs a { background: url(../img/icons/breadcrumbs_ico.png) 100% 50% no-repeat; padding-right: 5px; }
.breadcrumbs a:last-child { background: none; }
.breadcrumbs b { margin-right: 1px; }
.breadcrumbs .current { color: #fff; text-decoration: none; cursor: default; }

.main-office { position: absolute; top: 65px; right: 0; font-size: 18px; color: #fff; }

.location { padding-bottom: 300px; }

.location__list { width: 535px; font-size: 18px; margin-bottom: 30px; }
.location__list .js-active { color: #fff; background: url("../img/icons/arrow_location.png") no-repeat 0% 50%; }
.location__list ul { list-style: none; }
.location__list ul > li { border-bottom: 1px solid #245d98; padding: 10px 0 10px 6px; }
.location__list ul > li a { position: relative; padding-left: 15px; }
.location__list ul > li > ul { padding: 5px 0 5px 15px; }
.location__list ul > li > ul > li { border-bottom: 0; padding: 0 10px; }
.location__list ul > li > ul { font-size: 16px; border: 0; display: none; }
.location__list ul > li > ul > li > ul { font-size: 14px; border: 0; display: none; padding: 6px 0 14px 17px; }
.location__list ul > li > ul > li > ul a { color: #fff; }

.location__search-text { outline: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #e1ddc8; left: 0; width: 915px; padding-left: 9px; font-style: italic; color: #a4a4a4; font-size: 16px; height: 33px; }

.location__search-submit { float: right; }

.location__search { margin-bottom: 17px; }

.share { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #3577bd; padding: 15px 20px; }
.share a { margin-right: 42px; float: left; }
.share img { display: block; }

.share_article { position: absolute; top: 27px; left: -92px; width: 52px; z-index: 5; padding: 22px 20px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #0c4e85; }
.share_article a { display: block; height: 100%; width: 100%; margin-top: 18px; }
.share_article a:first-child { margin-top: 0; }
.share_article img { display: block; float: right; }

.content__holder { position: relative; z-index: 10; padding: 30px 30px 60px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #115ba7; }

.content__article { margin-bottom: 30px; }
.content__article ul { list-style-position: inside; }
.content__article a { font-weight: bold; }
.content__article strong { font-weight: bold; color: #fff; }
.content__article h1, .content__article h2, .content__article h3, .content__article h4, .content__article h5 { color: #fff; margin-bottom: 0.8em; font: bold 16px/24px "Trebuchet MS", "Helvetica CY", sans-serif; }
.content__article h1 { font-size: 24px; }
.content__article h2 { font-size: 22px; }
.content__article h3 { font-size: 20px; }
.content__article h4 { font-size: 18px; }
.content__article h5 { font-size: 16px; }
.content__article p { margin-bottom: 0.8em; }
.content__article blockquote { clear: both; margin-bottom: 0.8em; color: #fff; font-size: 18px; font-style: italic; padding: 0 90px; }

figure { float: right; margin: 0 0 0 20px; }
figure.figure_left { float: left; margin: 0 20px 0 0; }

.content__clr { clear: both; }

.comments { margin-top: 28px; font-size: 13px; }

.comments__heading { font-size: 24px; color: #fff; margin-bottom: 1em; }

.comments__item { padding: 18px 0; border-top: 1px solid #3578bd; }

.comments__item_thread { padding: 20px 20px 20px 62px; }

.comments__userpic { float: left; margin-right: 13px; width: 50px; height: 50px; overflow: hidden; }

.comments__info { overflow: hidden; }

.comments__author { float: left; margin-right: 10px; line-height: 1; }

.comments__date { color: #78a3be; float: left; line-height: 1; }

.comments__text { clear: both; margin-top: 20px; }

.comments-add { margin-top: 0.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #fff; outline: none; min-height: 33px; padding-left: 50px; width: 850px; border: 0; }

.comments__add-heading { color: #b4cad8; font-weight: bold; font-size: 13px; }

#js-list { margin: 26px auto 64px; }
#js-list:after { content: ""; display: block; clear: both; }

.list__item { float: left; padding: 25px 32px 30px 27px; margin: 13px 26px 13px 0; width: 248px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #115ba7; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
.list__item .arrow { font-size: 14px; }
.list__item:hover { -webkit-transform: rotate(1deg) scale(1.1) translate3d(0, 0, 0); -moz-transform: rotate(1deg) scale(1.1) translate3d(0, 0, 0); -ms-transform: rotate(1deg) scale(1.1) translate3d(0, 0, 0); -o-transform: rotate(1deg) scale(1.1) translate3d(0, 0, 0); transform: rotate(1deg) scale(1.1) translate3d(0, 0, 0); -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
.list__item:nth-child(2n+1):hover { -webkit-transform: rotate(-1deg) scale(1.1) translate3d(0, 0, 0); -moz-transform: rotate(-1deg) scale(1.1) translate3d(0, 0, 0); -ms-transform: rotate(-1deg) scale(1.1) translate3d(0, 0, 0); -o-transform: rotate(-1deg) scale(1.1) translate3d(0, 0, 0); transform: rotate(-1deg) scale(1.1) translate3d(0, 0, 0); -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

.list__heading { font-size: 19px; color: #eaf7ff; margin-bottom: 0.2em; }

.list__date { font-size: 12px; color: #b4cad8; margin-bottom: 0.6em; }

.list__image { width: 250px; overflow: hidden; }

.list_info { font-size: 14px; color: #b4cad8; line-height: 1.3; }

.list__load { position: relative; margin-bottom: 140px; }
