@import "base";

// styles for header
.header{
	position: relative;
	background: url(../img/bg.jpg) no-repeat  50% 0%;
	height: 195px;
	&.header_alt{
		position: relative;
		background: url(../img/bg_alt.jpg) no-repeat  50% 0%;
		height: 848px;
	}

}

	// wrapper
	.header__top{
		height: 78px;
		@extend %site;
	}

		// logotype
		.header__logo{
			a{
				@extend %hide-text;
				@include sized-sprite($icons, logo);
				position: absolute;
				top: 24px;
				left: 2px;
				// font-size: 36px;
				// color: #012f57;
			}
		}

		// lang menu
		.header__lang{
			position: absolute;
			top: 30px;
			right: -37px;
			color: #67add9;
			font-size: 16px;
			a{
				color: #1d709e;
				position: relative;
				margin-right: 30px;
				&.selected{
					color: #222;
					cursor: default;
					&:hover{text-decoration: none;}
				}
				&:before{
					width: 1px;
					height: 26px;
					background: #67add9;
					content: "";
					position: absolute;
					top: -4px;
					left: -14px;
				}
				&:first-child{
					&:before{
						content: none;
					}
				}
			}
		}



// highlight
.highlight{
	@extend %site;
	font-family: "Trebuchet MS", "Helvetica CY", sans-serif;
	@include text-shadow(0 0 13px #fff);
	color: #323232;
	font-size: 22px;
	.wrapper{
		width: 503px;
		position: absolute;
		top: 46px;
		right: -9px;
	}
	.highlight__heading{
		font-family:'HeliosLight', Arial, sans-serif;
		font-weight: normal;
		font-style: italic;
		color: #0a529d;
		font-size: 57px;
		margin-bottom: 0.25em;
	}
	a{
		font-size: 17px;
	}
}